#

In [1]:
import pandas as pd

In [4]:
headlines = pd.read_csv('Data/headlines_site.csv')

In [5]:
headlines.head()

,index,Unnamed: 0,site,bias,polarity,country_of_pub,monthly_visits,polarity_base,polarity_delta
0,0,0,dailymail.co.uk,1.000000,0.678843,UK,603727000,0.541366,0.253944
1,1,1,mirror.co.uk,0.782575,0.782561,UK,55700000,0.513530,0.523888
2,2,2,telegraph.co.uk,0.666060,0.540369,UK,241169000,0.533554,0.012773
3,3,3,abcnews.go.com,0.658688,0.593267,USA,159709000,0.537541,0.103669
4,4,4,nydailynews.com,0.648444,0.870303,USA,150664000,0.523117,0.663689

In [6]:
headlines.shape

(186, 9)